<div>
    <header>
        5/5 - Ajout des appareals
    </header>
    <main>
        <label for="addrow">
            ajouter:
            <select name="rowtype">
                <option value="Pignon">Pignon</option>
                <option value="Croix de saint andre">Croix de saint andre</option>
                <option value="Barre de pignon">Barre de pignon</option>
                <option value="Toit pagode">Toit pagode</option>
                <option value="Toit travee">Toit travee</option>
                <option value="Plancher">Plancher</option>
                <option value="Rideau">Rideau</option>
                <option value="Rideau Longueur">Rideau Longueur</option>
                <option value="Rideau Largeur">Rideau Largeur</option>
                <option value="Lestage">Lestage</option>
            </select>
            <input type="button" name="addrow" value="ajouter">
        </label>
    </main>
    
    <footer>
        <input name="next" type="button" value="Suivant">
    </footer>
</div>