<div>
        <header>
            3/6 - Import de l'image du produit
        </header>
        <main>
            <p>Importez ici l'image du produit au format jpg</p>
            <label for="importimg">
                fichier dae: 
                <input type="file" name="importimg"><img id="loader_icon" src="loading.gif" style="display: none;">
            </label>
        </main>
        
        <footer>
            <input name="next" type="button" value="Suivant" disabled>
        </footer>
    </div>