<div>
    <header>
        4/5 - Prix
    </header>
    <main>
        <p>Indiquez les prix applicables en euro (ex: 100.50):</p>
        <label for="ILE DE FRANCE">
            ILE DE FRANCE:
            <input name="ILE DE FRANCE" type="number" value="0"> €
        </label>
        <label for="PACA">
            PACA:
            <input name="PACA" type="number" value="0"> €
        </label>
        <label for="OCCITANIE">
            OCCITANIE:
            <input name="OCCITANIE" type="number" value="0"> €
        </label>
        <label for="GRAND EST">
            GRAND EST:
            <input name="GRAND EST" type="number" value="0"> €
        </label>
        <label for="AUVERGNE RHONE ALPES">
            AUVERGNE RHONE ALPES:
            <input name="AUVERGNE RHONE ALPES" type="number" value="0"> €
        </label>
        <label for="PAYS DE LA LOIRE">
            PAYS DE LA LOIRE:
            <input name="PAYS DE LA LOIRE" type="number" value="0"> €
        </label>
        <label for="CENTRE VAL DE LOIRE">
            CENTRE VAL DE LOIRE:
            <input name="CENTRE VAL DE LOIRE" type="number" value="0"> €
        </label>
        <label for="NOUVELLE AQUITAINE">
            NOUVELLE AQUITAINE:
            <input name="NOUVELLE AQUITAINE" type="number" value="0"> €
        </label>
        <label for="BOURGOGNE FRANCHE COMPTE">
            BOURGOGNE FRANCHE COMPTE:
            <input name="BOURGOGNE FRANCHE COMPTE" type="number" value="0"> €
        </label>
        <label for="NORMANDIE">
            NORMANDIE:
            <input name="NORMANDIE" type="number" value="0"> €
        </label>
        <label for="HAUTS DE FRANCE">
            HAUTS DE FRANCE:
            <input name="HAUTS DE FRANCE" type="number" value="0"> €
        </label>
        <label for="BRETAGNE">
            BRETAGNE:
            <input name="BRETAGNE" type="number" value="0"> €
        </label>
    </main>
    
    <footer>
        <input name="next" type="button" value="Suivant">
    </footer>
</div>