<div>
    <header>
        1/6 - Section et Categorie
    </header>
    <main>
        <p>Les sections sont des dossiers permetant d'organiser les objets. Les categories déjà existantes sont: <i id="section-list"></i></p>
        <label for="section">
            section: 
            <input name="section">
        </label>

        <p>Les categories sont des sous sections. Les categories déjà existantes sont: <i id="category-list"></i></p>
        <label for="category">
                categorie:
                <input name="category">
        </label>

        <p>Les objets activés sont visibles par les clients</p>
        <label for="activated">
                actif:
                <input type="checkbox" name="activated">
        </label>
    </main>
    
    <footer>
        <input name="next" type="button" value="Suivant">
    </footer>
</div>