<div>
    <header>
        Étape 1/5 - Section, Catégorie, Actif et Mode
    </header>
    <main>
        <p>Les sections sont des dossiers permetant d'organiser les objets. Les sections déjà existantes sont: <i id="section-list"></i></p>
        <label for="section">
            section: 
            <input name="section">
        </label>

        <p>Les catégories sont des sous sections. Les catégories déjà existantes sont: <i id="category-list"></i></p>
        <label for="category">
            catégorie:
            <input name="category">
        </label>

        <p>Les objets activés sont visibles par les clients</p>
        <label for="activated">
            actif:
            <input type="checkbox" name="activated">
        </label>

        <p>Mode travées</p>
        <label for="area">
            mode travées:
            <input type="checkbox" name="travee">
            surface par travée:
            <input type="number" name="area">
        </label>
    </main>
    
    <footer>
        <input name="next" type="button" value="Suivant">
    </footer>
</div>