/* region --------------------  GENERAL  -------------------- */
/*
Couleur et police du site Atawa
 */
html {
    background-color: #F6F7F8;
    font-family: 'Raleway', sans-serif !important;
}

/* Sans ça les select sont en display none */
select {
    display: block;
}

h3 {
    margin: 8px;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #ff3a3b;
}

input[type=range]::-moz-range-thumb {
    background-color: #ff3a3b;
}

input[type=range]::-ms-thumb {
    background-color: #ff3a3b;
}

.input-field input:focus + label {
    color: #ff3a3b !important;
}

/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #ff3a3b !important;
    box-shadow: 0 1px 0 0 #ff3a3b !important
}

/* endregion */

/* region --------------------  FOLDER VUES  -------------------- */

/* region --------------------  App.VUE  -------------------- */

.ATAWAButton {
    background-color: #ff3a3b;
    display: inline-block;
    min-height: 2vw;
    color: WHITE;
    border: none;
    margin: 1vw 0 0 0;
    font-size: 0.8em;
    overflow: hidden;
}

.ATAWAButton:hover {
    background-color: #ff7575;
    cursor: pointer;
}

.spinner {
    position: absolute;
    top: 50vh;
    left: 35vw;
}

.v-spinner .v-clip {
    height: 75px !important;
    width: 75px !important;
    border-width: 4px !important;
}

.objectLoading {
    opacity: 0.5;
}

.closeButton {
    width: 100%;
}

.first-div {
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

#v3D {
    padding: 0;
    background-color: #f0f0f0;
}

#drawer {
    overflow-y: scroll;
    height: 100%;
    background-color: white;
    padding: 0;
}

#details {
    position: absolute;
    top: 10%;
    left: 57%;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 90%;
    width: 15%;
    min-width: 150px;
    text-align: center;
    background-color: white;
}

#details:hover {
    overflow-y: auto;
}

#header {
    top: 0;
    left: 0;
    padding: 1vw 1vw 0 1vw;
    background-color: #f0f0f0;
}

#settingsPanel {
    position: absolute;
    top: 15px;
    left: 0;
    width: 25%;
    background-color: #F6F7F8;
    border: 1px solid white;
    padding: 2vw;
    margin: 2vw;
}

#helperPanel {
    position: absolute;
    top: 15px;
    left: 0;
    width: 500px;
    background-color: white;
    padding: 2vw;
    margin: 2vw;
}

.buttonEstimation {
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    width: 10vw;
    white-space: nowrap;
    overflow: hidden;
    min-width: 190px;
    min-height: 14px;
}

/*endregion app*/

/* region ----------  RecapOrder.vue  ---------- */

#recapOrderPanel {
    position: absolute;
    top: 15px;
    background-color: white;
    padding: 1vw;
    margin-top: 2vw;
    margin-left: 25vw;
}

.buttonsRecapOrderPanel {
}

#sendEstimation {
    margin-left: 20vw;
}

.warnForm {
    font-size: smaller;
    color: red;
}

/* endregion HelperList */

/* region --------------------  Header.VUE  -------------------- */

#parentHeader {
    display: flex;
    pointer-events: none;
    user-select: none;
}

#logoAtawa {
    height: 3.5vw;
    width: 15vw;
    pointer-events: none;
    user-select: none;
}

#tel {
    margin: auto 0 auto 3vw;
    pointer-events: none;
    user-select: none;
}

#buttonsPanel {
    margin: 0.5vw 0 0 0;
}

/* endregion header*/

/* region --------------------  Total.VUE  -------------------- */

.estimation {
    margin-top: 0;
    font-size: 0.9em !important;
    user-select: none;
}

.value {
    margin-bottom: 0;
    font-size: 1.2em !important;
    color: #ff3a3b;
    user-select: none;
}

#total {
    margin: auto 0 auto auto;
    font-weight: bold;
    pointer-events: none;
    user-select: none;
}

/* endregion total*/

/* region --------------------  SUBFOLDER 3D  -------------------- */

/* region ----------  Apparels.vue, General.vue, Parameters.vue, Details.vue  ---------- */
.apparels-box {
    padding: 0 1.5em 0;
}

.details-price {
    color: #ff3a3b;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
}

.label {
    color: black;
    font-weight: bold;
    margin-bottom: 2px;
}

.general-header {
    border-bottom: 1px solid red;
}

#deleteButtonRow {
    display: flex;
    margin-bottom: 0;
}

#validateButton {
    background-color: forestgreen;
    display: inline-block;
    min-height: 2vw;
    color: WHITE;
    border: none;
    margin: 1vw auto 1vw auto;
    font-size: 0.8em;
    overflow: hidden;
}

#validateButton:hover {
    opacity: 0.7;
    cursor: pointer;
}

#trashDetails {
    height: 2vw;
    width: 2vw;
    margin: 1vw auto 1vw auto;
    cursor: pointer;
}

#trashDetails:hover {
    opacity: 0.7;
    cursor: pointer;
}

/*endregion apparels, general, parameters*/

/* region ----------  Buttons.vue  ---------- */

#settings {
    height: 1.5vw;
    width: 1.5vw;
}

#questionMark {
    height: 1.5vw;
    width: 1.5vw;
}

#trash {
    height: 1.5vw;
    width: 1.5vw;
}

/* endregion buttons */

/* region ----------  Details.vue  ---------- */
/* endregion */

/* region --------------------  SUBFOLDER HELPER PANEL  -------------------- */

/* region ----------  HelperItem.vue  ---------- */

.helperIcon {
    width: 32px;
    height: 48px;
    margin-right: 10px;
}

.helperItem {
    width: 100%;
    display: flex;
    align-items: center;
}

/* endregion HelperItem*/

/* region ----------  HelperList.vue  ---------- */

.helperList {
    display: flex;
    flex-direction: column;
}

/* endregion HelperList */

/*endregion subfolder helper panel*/

/*endregion subfolder 3D*/

/* region --------------------  SUBFOLDER DRAWER  -------------------- */

/* region --------------------  Drawer.vue  -------------------- */

#drawer > .row {
    margin-left: 0;
    margin-right: 0;
}

#cart {
    display: none;
}

#objects {
    display: block;
}

.buttonObjects {
    /*position: fixed;*/
    background-color: white;
    color: #ff7575;
    border-bottom: 1.5px solid #ff7575;
}

.buttonCart {
    /*position: fixed;*/
    background-color: #e5e5e5;
    color: silver;
    border-bottom: 1.5px solid silver;
    background-image: url('../basket.svg');
    background-size: 20px;
    background-position-x: 10px;
    background-repeat: no-repeat;
    background-position-y: center;
}

.buttonTabSelected {
    background-color: white;
    color: #ff7575;
    border-bottom: 1.5px solid #ff7575;
}

.buttonTabNotSelected {
    background-color: #e5e5e5;
    color: silver;
    border-bottom: 1.5px solid silver;
}

.buttonTab {
    display: inline-block;
    width: 100%;
    font-size: 1vw;
    height: 3.5vw;
    border: none;
}

.square-check {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    width: 15px;
}

.circle-plus {
    margin: auto;
    margin-right: 0;
    width: 15px;
}

.circle-minus {
    margin: auto;
    margin-right: 0;
    width: 15px;
}

/* endregion drawer*/

/* region --------------------  SUBFOLDER CART  -------------------- */

/* region --------------------  Cart.vue  -------------------- */

#totalCartPage {
    color: #ff3a3b;
    font-weight: bold;
}

#buttonEstimation, #deleteObjectButton, #addSpanButton, #deleteSpanButton{
    background-color: #ff3a3b;
    display: inline-block;
    min-height: 2vw;
    color: WHITE;
    border: none;
    margin: 1vw 0 1vw 0;
    font-size: 0.8em;
    overflow: hidden;
}

#buttonEstimation:hover, #deleteObjectButton:hover, #addSpanButton:hover, #deleteSpanButton:hover {
    background-color: #ff7575;
    cursor: pointer;
}

.elemCartPage {
    text-align: center;
}

#estimationCartPage {
    text-align: center;
    font-size: 0.7em;
    color: gray;
}

/* endregion cartItem */

/* region --------------------  CartItem.vue  -------------------- */

.tdSubItem {
    font-style: italic;
    font-size: small;
}

/* endregion cartItem */

/* region --------------------  CartList.vue  -------------------- */

table {
    text-align: left;
    font-size: 0.9em;
}

tr {
    border: none !important;
}

.tdItem {
    text-align: right;
}

.product {
    width: 15vw
}

.qte {
    width: 5vw
}

.price {
    width: 10vw
}

.apparelValue {
    padding: 0.25vw 0 0.25vw 2vw;
    font-style: italic;
}

#recapOrderCart {
    max-height: 30vw;
    overflow-y: scroll;
}

/* endregion cartList */

/* endregion subfolder cart*/

/* region --------------------  SUBFOLDER OBJECTS  -------------------- */

/* region --------------------  ObjectsItem.vue  -------------------- */

.objectItem {
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    display: flex;
    padding: 10px;
    padding-bottom: 0;
}

.objectItemIcon {
    min-width: 8vw;
    min-height: 4.5vw;
    max-width: 8vw;
    max-height: 4.5vw;
    cursor: pointer;
}

.objectItemTitle {
    font-size: 0.9em;
    color: black;
    word-break: normal;
    cursor: pointer;
    line-height: 1.4;
    margin-left: 5px;
    text-align: left;
}

.objectItemTitle p {
    font-size: 0.8em;
    color: gray;
    margin-top: 5px;
    margin-bottom: 0;
}

/* endregion objectsItem */

/* region --------------------  ObjectCategory.vue  -------------------- */

.categoryBlock {
    display: inline-block;
    margin: 0;
}

.objectCategory {
    margin: 0 0 10px 40px;
    cursor: pointer;
    display: flex;
    font-size: 1.2em;
    border-bottom: 1px solid silver;
    padding: 3px;
}

.objectList {
    max-height: 0;
    transition: 0.5s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.objectList.expanded {
    max-height: 2800px;
}

.objectSection {
    width: 100%;
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    border-bottom: 2.5px solid silver;
    padding: 3px;
}

.objectSectionList {
    display: flex;
    flex-direction: column;
    max-height: 0;
    background-color: #FFFFFF;
    overflow: hidden;
    transition: 0.5s ease;
}

.objectSectionList.expanded {
    max-height: 2800px;
}

/* endregion objectCategory */

/* region --------------------  Objects.vue  -------------------- */

/* endregion Objects */

/* endregion subfolder objects*/

/* endregion subfolder drawer*/

/*endregion folder vues*/