/* region --------------------  GENERAL  -------------------- */
/*
Couleur et police du site Atawa
 */
html {
    background-color: #F6F7F8;
    font-family: 'Raleway', sans-serif !important;
}

/* Sans ça les select sont en display none */
select {
    display: block;
}

h3 {
    margin: 8px;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #ff3a3b;
}

input[type=range]::-moz-range-thumb {
    background-color: #ff3a3b;
}

input[type=range]::-ms-thumb {
    background-color: #ff3a3b;
}

/* endregion */

/* region --------------------  FOLDER VUES  -------------------- */

/* region --------------------  App.VUE  -------------------- */

.closeButton {
    right: 0;
}

.first-div {
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

#v3D {
    padding: 0;
}

#drawer {
    overflow-y: scroll;
    height: 100%;
}

#details {
    position: absolute;
    top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
    padding-left: 12px;
}

#settingsPanel {
    position: absolute;
    top: 15px;
    left: 0;
    width: 25%;
    background-color: #F6F7F8;
    border: 1px solid white;
    padding: 2vw;
    margin: 2vw;
}

#buttonsPanel {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5% 0 0 0.5%;
}

#helperPanel {
    position: absolute;
    top: 15px;
    left: 0;
    width: 25%;
    background-color: #F6F7F8;
    border: 1px solid white;
    padding: 2vw;
    margin: 2vw;
}

/*endregion app*/

/* region --------------------  Total.VUE  -------------------- */

.estimation {
    margin-top: 0;
    font-size: 0.9em !important;

}

.value {
    margin-bottom: 0;
    font-size: 1.6em !important;

}

#total {
    font-weight: bold;
    position: absolute;
    bottom: 0;
    padding: 0.5vw;
    pointer-events: none;
}

/* endregion total*/

/* region --------------------  SUBFOLDER 3D  -------------------- */

/* region ----------  Apparels.vue, General.vue, Parameters.vue, Details.vue  ---------- */

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.label {
    font-style: italic;
    color: #8a8a8a;
    font-weight: bold;
    margin-bottom: 2px;
}

#deleteButtonRow {
    margin-top: 20px;
    margin-bottom: 0;
}

/*endregion apparels, general, parameters*/

/* region ----------  Buttons.vue  ---------- */

#settings {
    height: 1.5vw;
    width: 1.5vw;
}

#questionMark {
    height: 1.5vw;
    width: 1.5vw;
}

#trash {
    height: 1.5vw;
    width: 1.5vw;
}

/* endregion buttons */

/* region ----------  Details.vue  ---------- */

.details-panel {
    width: 15%;
    text-align: center;
    padding: 5px;
    background-color: #F6F7F8;
    border-radius: 15px;
}

/* endregion */

/* region --------------------  SUBFOLDER HELPER PANEL  -------------------- */

/* region ----------  HelperItem.vue  ---------- */

.helperIcon {
    width: 100px;
    height: 100px;
}

.helperItem {
    width: 100%;
    display: flex;
    align-items: center;
}

/* endregion HelperItem*/

/* region ----------  HelperList.vue  ---------- */

.helperList {
    display: flex;
    flex-direction: column;
}

/* endregion HelperList */

/*endregion subfolder helper panel*/

/*endregion subfolder 3D*/

/* region --------------------  SUBFOLDER DRAWER  -------------------- */

/* region --------------------  Drawer.vue  -------------------- */

#cart {
    display: none;
}

#objects {
    display: block;
}

#buttonObjects {
    background-color: #ff3a3b;
    font-size: 1.5vw;
}

#buttonCart {
    font-size: 1.5vw;
}

.buttonTab {
    display: inline-block;
    width: 100%;
    height: 2vw;
    color: WHITE;
    background-color: #ff7575;
    border: none;
}

/* endregion drawer*/

/* region --------------------  SUBFOLDER CART  -------------------- */

/* region --------------------  Cart.vue  -------------------- */

#totalCart {
    position: center;
    font-size: medium;
}

#buttonEstimation, #deleteObjectButton {
    background-color: #ff3a3b;
    display: inline-block;
    width: 100%;
    height: 2vw;
    color: WHITE;
    border: none;
    margin-bottom: 1vw;
}

#buttonEstimation:hover, #deleteObjectButton:hover {
    background-color: #ff7575;
    cursor: pointer;
}

/* endregion cartItem */

/* region --------------------  CartItem.vue  -------------------- */

.tdSubItem {
    font-style: italic;
    font-size: small;
}

/* endregion cartItem */

/* region --------------------  CartList.vue  -------------------- */

table {
    text-align: left;
}

.tdItem {
    text-align: right;
}

.product {
    width: 20vw
}

.qte {
    width: 5vw
}

.price {
    width: 10vw
}

/* endregion cartList */

/* endregion subfolder cart*/

/* region --------------------  SUBFOLDER OBJECTS  -------------------- */

/* region --------------------  ObjectsItem.vue  -------------------- */

.objectItem {
    width: 9vw;
    height: 9vw;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.objectItemIcon {
    width: 7vw;
    height: 7vw;
    cursor: pointer;
}

.objectItemTitle {
    color: black;
    word-break: normal;
    cursor: pointer;
    line-height: 1.4;
}

/* endregion objectsItem */

/* region --------------------  ObjectCategory.vue  -------------------- */

.categoryBlock {
    display: inline-block;
    margin: 15px;
}

.objectCategory {
    margin-left: 15px;
    margin-top: 0;
    cursor: pointer;
    display: inline-block;
}

.objectList {
    max-height: 0;
    transition: 0.5s ease;
    overflow: hidden;
}

.objectList.expanded {
    max-height: 2800px;
}

.objectSection {
    font-weight: bold;
}

.objectSectionList {
    max-height: 2800px;
    background-color: #FFFFFF;
}

/* endregion objectCategory */

/* region --------------------  Objects.vue  -------------------- */

/* endregion Objects */

/* endregion subfolder objects*/

/* endregion subfolder drawer*/

/*endregion folder vues*/