ul#model-list > li > p {
    display: inline;
    margin-right: 10px;
}

img {
    width: 50px;
    height: 50px;
}

label {
    display: block;
}

div.row {
    margin: 20px 20px 20px 20px;
    border: black 1px dotted;
    padding: 5px 5px 5px 5px;
}